/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 versions
*/

/* Following code sets variables for this document */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: #FFF;
  color: #283D3B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}

h1 {
  font-family: 'Vollkorn SC', arial;
  color: #283D3B;
  text-transform: uppercase;
}

h2 {
  font-family: 'Vollkorn SC', arial;
  color: #283D3B;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  padding-left: 20px;
}

h2 {
  font-size: 24px;
}

textarea, input {
  overflow: auto;
  margin-bottom: 1rem;
  width: 25%;
  border: 0.1px solid gray;
}

/* ------ Start: Content link colors ------ */
a {
  color: #C44536;
}

a:visited {
  /* visited link */
  color: #197278;
}

a:hover, a:focus {
  /* No underlining when hovering a link */
  text-decoration: none;
}

a:active {
  /* active link */
  color: #772E25;
}
/* ------ End: Content link colors ------ */

/* Following code styles all buttons */

button {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

button_secondary {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

button_tertiary {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

.button {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

.button_secondary {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

.button_tertiary {
  /* Styles the button */
  background-color: #772E25;
  color: #FFF;
  /* Overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from outer container */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  /* Width of the border, type and color */
}

.button_secondary {
  background-color: #197278;
}

.button_tertiary {
  background-color: #197278;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.25);
          box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.25);
  border: none;
}

.button,
.button_secondary {
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  /* transition: 0.2s opacity; */
  -webkit-box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.25);
          box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.25);
  -webkit-transition: 150ms;
  transition: 150ms;
}

.button:hover,
.button:focus,
.button_secondary:hover,
.button_secondary:focus {
  -webkit-box-shadow: 5px 5px 60px 0 rgba(0,0,0,0.25);
          box-shadow: 5px 5px 60px 0 rgba(0,0,0,0.25);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.button:hover,
.button:focus,
.button_secondary:hover,
.button_secondary:focus,
.button_tertiary:hover,
.button_tertiary:focus {
  /* Lets the mouse appear a hand when hovering over the button */
  cursor: pointer;
  /* Reduces the opacity of the button to 80% */
  opacity: 0.9;
}

.button_submit {
  background-color: #772E25;
  color: #FFF;
  border: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.button_submit:hover,
.button_submit:focus {
    cursor: pointer;
    opacity: 0.9;
}

/* Following code is about navbar behaviour for screens of less than 500px width including logo and social icons */

header {
  background-color: #283D3B;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 70px;
}

.logo {
  margin: 0;
  position: relative;
  padding-top: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span {
   display: block;
   background: #FFF;
   height: 2px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label span::before {
   display: block;
   background: #FFF;
   height: 2px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label span::after {
   display: block;
   background: #FFF;
   height: 2px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  background-color: #283D3B;
  width: 100%;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  -webkit-transform: scale(1,0);
          transform: scale(1,0);
  -webkit-transform-origin:top;
          transform-origin:top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

/* ------ Start: Navigation link colors ------ */

nav a {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:visited {
  color: #FFF;
}

nav a:active {
  color: #C44536;
}

/* ------ End: Navigation link colors ------ */

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1,1);
          transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

nav a::before {
    content: '';
    display: block;
    height: 1.5px;
    background: #F76414;
    position: relative;
    bottom: -1.5em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }

  nav a:hover::before {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }

  .social-media {
    display: none;
  }

/* Intro section on home.html with profile image and short intro */

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  padding-bottom: 20px;
}

/* Grid fallback */

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display:grid) {
.project-list-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 0;
  padding: 0px 70px 0px 70px;
  }
}

.grid__item {
  background-color: #EDDDD4;
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 25px 25px 30px 0 rgba(0,0,0,0.25);
          box-shadow: 25px 25px 30px 0 rgba(0,0,0,0.25);
  -webkit-transition: 300ms;
  transition: 300ms; -webkit-box-shadow: 300ms; box-shadow: 300ms;
}

.grid__item:hover {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
-webkit-box-shadow: 25px 100px 70px 0 rgba(0,0,0,0.25);
        box-shadow: 25px 100px 70px 0 rgba(0,0,0,0.25);
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.page-footer {
  background-color: #197278;
  color: #FFF;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.about-me {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 45px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.contact-info {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me-header, .portfolio-header, .contact-header {
  margin: 0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

.standard-label {
  padding-bottom: 10px;
  margin: auto;
  width: 25%;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#red-underline {
  /* Underlining of personal keywords */
  text-decoration: underline;
  -webkit-text-decoration-color: #C44536;
          text-decoration-color: #C44536;
}

#about-picture {
  margin: 0;
  width: auto;
}

/* Following code makes grid items on /portfolio responsive */

@media all and (max-width: 500px) {
  .project-list-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list-grid {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list-grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* Following code is about navbar behaviour for screens of more than 500px width including logo and social icons */

@media screen and (min-width: 500px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(900px, 4fr) 1fr;
    grid-template-columns: 1fr auto minmax(900px, 4fr) 1fr;
  }

  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    -ms-grid-column: 3;
    grid-column: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-media {
    all: unset;
    -ms-grid-column: 4;
    grid-column: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* .social-github = left icon, no padding needed */
  .social-twitter,
  .social-linkedin {
    margin: 0;
    padding-left: 15px;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  .topbottombordersout a:before {
      background: #F76414;
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      content: "";
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }

  .topbottombordersout a:after {
      background: #F76414;
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      content: "";
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }

  .topbottombordersout a:before {
      top: 0px;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
  }

  .topbottombordersout a:after {
      bottom: 0px;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
  }

  .topbottombordersout a:hover:before, .topbottombordersout a:hover:after {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
}

/* Following code takes care of animation features on /about */

@-webkit-keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #FCFFAD;
  }
  100% {
    fill: #F76414;
  }
}

@keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #FCFFAD;
  }
  100% {
    fill: #F76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
