/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 versions
*/

/* Order of document (consistently updated) */

/* 

1. Root variables
2. Global code
3. Local code
3. Navbar
3.1. /home
3.2. /about-me
3.3. /portfolio
3.4. /contact
4. Footer
5. Media queries
5.1. Navbar
5.2. Contact form
6. Keyframes
6.1. /home

*/

/* Begin root variables */

/* Following code sets variables for this document */

/* Begin of global code */

/* General code */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body > footer {
  position: sticky;
  top: 100vh;
}

body {
  background-color: #fcbf49;
  color: #111;
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
}

/* Begin of local code */

/* Beginn navbar */

/* Following code is styling the navbar for screen width of more than 1200px (Media queries for navbar on other screen sizes below) */

nav {
  background-color: #fcbf49;
  font-family: 'Staatliches', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

.logo {
  color: #111;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
}

.logo a:active {
  color: #111;
}

.logo a:visited {
  color: #111;
}

.logo h3 {
  color: #111;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #111;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #fff;
}

.button_navbar {
  background-color: #fcbf49;
  font-size: 1rem;
  color: #111;
  border-radius: 50px;
  padding: 7px 20px;
  border: 1px solid #525252;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button_navbar:hover {
  background-color: #111;
  color: #fff;
}

.burger {
  display: none;
}

.burger div {
  background-color: #111;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Beginn home page */

/* Following code is styling /home */

.main_home {
  margin: auto;
  margin-top: 22vh;
  margin-bottom: 32vh;
  max-width: 1280px;
}

/* Following code is styling the intro and animation/image section on /home (temporary styling until text animation (code below) is ready) */

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 30vh;
  padding: 30px;
}

/* Following code is styling the svg next to the intro text on /home  */

#img {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Following code is styling the intro text on /home; temporary styling; will be replace by text-adjective animation (code below) at later stage */

.profile_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Staatliches', serif;
  margin: auto;
  padding: 30px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.profile_text_big {
  font-size: calc(1rem + 40px);
}

.profile_text_small {
  font-size: calc(1rem + 10px);
  margin: 30px 0px 15px 0px;
}

.button_one {
  background-color: #fcbf49;
  color: #111;
  font-family: 'Staatliches', serif;
  font-size: calc(1rem + 10px);
  border-radius: 3px;
  margin: auto;
  padding: 7px 40px;
  border: 0.5px solid #525252;
  -webkit-box-shadow: 4px 4px 5px #111;
          box-shadow: 4px 4px 5px #111;
}

.button_two {
  background-color: #fcbf49;
  color: #111;
  font-family: 'Staatliches', serif;
  font-size: calc(1rem + 10px);
  border-radius: 3px;
  margin: auto;
  padding: 7px 40px;
  border: 0.5px solid #525252;
  -webkit-box-shadow: 4px 4px 5px #111;
          box-shadow: 4px 4px 5px #111;
}

.button_three {
  background-color: #fcbf49;
  color: #111;
  font-family: 'Staatliches', serif;
  font-size: calc(1rem + 10px);
  border-radius: 3px;
  margin: auto;
  padding: 7px 40px;
  border: 0.5px solid #525252;
  -webkit-box-shadow: 4px 4px 5px #111;
          box-shadow: 4px 4px 5px #111;
}

.button_one:hover {
  background-color: #fff;
  color: #111;
}

.button_two:hover {
  background-color: #fff;
  color: #111;
}

.button_three:hover {
  background-color: #fff;
  color: #111;
}

.button_two {
  margin-left: 15px;
}

.button_three {
  display: none;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  width: 300px;
}

.arrow_text {
  font-size: calc(1rem - 1px);
  font-family: 'Staatliches', serif;
  color: #111;
  margin-bottom: 5px;
  margin-left: 20px;
}

.arrow_icon {
  height: 40px;
}

#white-underline {
  /* Underlining of adjective in intro text on /home */
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

/* Following code is animating the adjective in the intro text on /home; temporarily disabled */

/* .intro_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 84vh;
}

.intro_line {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: var(--header-font-family);
  font-size: 80px;
  margin-right: 0;
  width: 60%;
}

.wrapper {
  / display: inline-flex; /
  display: flex;
  / align-items: center; /
  justify-content: flex-start;
  margin: 0 auto;
  margin-right: 0;
  width: 60%;
}

.wrapper .static_text {
  color: var(--text-color);
  font-family: var(--header-font-family);
  height: 0px;
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.wrapper .dynamic_texts {
  margin-left: 15px;
  height: 80px;
  font-size: 70px;
  line-height: 120px;
  overflow: hidden;
}

.dynamic_texts li {
  color: var(--accent-color-light);
  list-style: none;
  font-size: 80px;
  font-family: var(--header-font-family);
  text-transform: uppercase;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}

.dynamic_texts li span {
  position: relative;
}

.dynamic_texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  animation: typing 2s steps(21) infinite;
} */

/* Beginn about me page */

/* Following code is styling the grid on /about-me */

/* Grid fallback */

.about_grid__item {
  display: inline-block;
  width: 33%;
}

/* Grid container */

@supports (display: grid) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 600px 50px 600px;
    grid-template-rows: repeat(2, 600px);
    -ms-grid-columns: 700px 120px 700px;
    grid-template-columns: repeat(2, 700px);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px;
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .grid_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid_container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

/* Grid items */

/* Following code is styling the about me flip card */

.flip-card_grid__item {
  margin: auto;
  background-color: transparent;
  width: 700px;
  height: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card_grid__item:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  font-family: 'JetBrains Mono', monospace;
  color: #111;
  background-color: #fcbf49;
  border: 1px solid #525252;
  -webkit-box-shadow: 1px 1px 5px #111;
          box-shadow: 1px 1px 5px #111;
  border-radius: 5px;
  text-align: center;
  padding: 35% 20% 40% 20%;
}

.flip-card-front h2 {
  font-family: 'Staatliches', serif;
}

.flip-card-front p {
  font-size: calc(1rem + 5px);
}

.flip-card-back {
  background-color: #fcbf49;
  color: #111;
  border: 1px solid #525252;
  -webkit-box-shadow: 1px 1px 5px #111;
          box-shadow: 1px 1px 5px #111;
  border-radius: 5px;
  padding: 60px;
  text-align: left;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-back h3 {
  font-size: 18.72px;
  font-family: 'Staatliches', serif;
  margin-bottom: 20px;
}

.flip-card-back p {
  font-size: calc(1rem + 5px);
}

/* Skills and tools card */

.box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -15px;
}

.box_icon {
  height: 70px;
  width: 70px;
  margin: 20px;
  margin-bottom: 70px;
}

.box_icon p {
  font-family: 'Staatliches', serif;
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
}

/* Beginn projects page */

/* Following code is styling the body on /projects */

.main_portfolio {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.portfolio {
  margin: auto;
  width: 60%;
  height: 84vh;
}

/* Following code is styling the grid on /projects */

.project_list_grid {
  color: #111;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid_item {
  -webkit-box-shadow: 1px 1px 10px #111;
          box-shadow: 1px 1px 10px #111;
  border: 1px solid #525252;
  border-radius: 10px;
  margin: 30px;
  padding: 20px 15px;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  grid-column: 1 / -1;
}

.grid_item h3 {
  font-family: 'Staatliches', serif;
  margin-bottom: 15px;
}

.gid_item p {
  font-family: 'JetBrains Mono', monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid_item a {
  font-size: 1rem;
  font-family: 'Staatliches', serif;
  display: inline;
  line-height: 60px;
}

.project_list_grid_icons {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.project_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-vscode-plain,
.devicon-sass-original,
.devicon-git-plain,
.devicon-github-original,
.devicon-codepen-plain {
  margin: 0;
  padding: 0 5px;
  height: 100%;
  font-size: 30px;
}

/* Beginn contact page */

/* Following code is styling the body on /contact */

#contact {
  width: 100%;
  height: 100%;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

/* Following code is styling the contact form */

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-family: 'Staatliches', serif;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 50px 40px;
  position: relative;
  max-width: 840px;
  border-radius: 10px;
  border: 1px solid #525252;
  -webkit-box-shadow: 1px 1px 10px #111;
          box-shadow: 1px 1px 10px #111;
}

/* Begin left part of contact form */

.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Staatliches', serif;
  font-weight: 400;
}

.form-control {
  background-color: #fcbf49;
  color: #111;
  border: 1.5px solid #111;
  width: 400px;
  margin-bottom: 5px;
  padding-left: 7px;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #525252;
          box-shadow: 1px 1px 5px #525252;
}

textarea {
  background-color: #fcbf49;
  color: #111;
  border: 1.5px solid #111;
  width: 400px;
  margin-bottom: 5px;
  padding-left: 7px;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #525252;
          box-shadow: 1px 1px 5px #525252;
}

.form-control {
  line-height: 15px;
}

textarea {
  padding-top: 3px;
}

.send-button {
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  height: 37px;
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
}

.alt-send-button {
  display: inline-block;
  max-width: 50px;
  height: 32px;
  margin: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.send-text {
  color: #fcbf49;
  display: inline-block;
  font-family: 'Staatliches', serif;
  font-size: calc(1rem - 1px);
  margin: auto;
  letter-spacing: 2px;
  position: absolute;
  bottom: -23px;
  left: -5px;
}

.alt-send-button:hover {
  -webkit-transform: translate3d(0px, -30px, 0px);
          transform: translate3d(0px, -30px, 0px);
  cursor: pointer;
}

.bi-send-fill {
  position:relative;
  font-size: 20px;
}

/* Begin right part of contact form */

.direct-contact-container {
  max-width: 400px;
}

/* Location, phone, email section */

.contact-list {
  list-style-type: none;
  width: 100% /* margin-left: -30px; */ padding-right 20px;
  font-size: 1rem;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Staatliches', serif;
  letter-spacing: 1.9px;
  color: #111;
}

.place {
  margin-left: 57px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 56px;
}

.bi {
  color: #111;
}

.bi-send-fill {
  color: #fcbf49;
}

.contact-text a {
  color: #111;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social media icons */

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 12px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

hr {
  border-color: #525252;
}

/* Text underneath contact form */

.contact-me-text {
  font-family: 'Staatliches', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Beginn footer */

/* Following code is styling the footer */

.footer-text {
  background-color: #fcbf49;
  position: sticky;
  width: 100%;
  height: 8vh;
  bottom: 0;
}

.footer-text p {
  font-family: 'Staatliches', serif;
  font-size: calc(1rem - 3px);
  color: #111;
  text-transform: uppercase;
  text-align: center;
  line-height: 8vh;
}

/* Begin media queries */

/* Begin media queries navbar */

/* Following code is about navbar for screen width of less than 1201px */

@media screen and (max-width: 1200px) {
  .nav-links {
    width: 45%;
  }
}

/* Following code is about navbar for screen width of less than 1025px */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

/* Following code is about navbar for screen width of less than 769px */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    background-color: #fcbf49;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .button_navbar {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .button_two {
    margin-left: 0;
    margin-top: 20px;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* Begin media queries /home */

/* Following code takes care of the buttons in the intro section on /home for screen width of less than 1401px */

@media screen and (max-width: 1400px) {
  .main_home {
    max-width: 650px;
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 11vh;
  }

  .profile_text_big {
    font-size: calc(1rem + 38px);
  }

  .profile_text_small {
    font-size: calc(1rem + 8px);
  }

  .button_one {
    display: none;
  }

  .button_two {
    font-size: calc(1rem + 9px);
    margin-left: 0;
  }

  .button_three {
    font-size: calc(1rem + 9px);
    display: inline-block;
    margin-right: 180px;
    margin-bottom: 30px;
  }

  .button_text_small {
    font-size: calc(1rem - 2px);
  }

  .arrow {
    display: none;
  }
}

/* Following code takes care of the buttons in the intro section on /home for screen width of less than 1201px */

@media screen and (max-width: 1200px) {
  .main_home {
    max-width: 600px;
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 13vh;
  }

  .profile_text_big {
    font-size: calc(1rem + 35px);
  }

  .profile_text_small {
    font-size: calc(1rem + 6px);
  }

  .button_one {
    display: none;
  }

  .button_two {
    font-size: calc(1rem + 8px);
    margin-top: 15px;
  }

  .button_three {
    font-size: calc(1rem + 8px);
  }
}

/* Following code takes care of the buttons in the intro section on /home for screen width of less than 901px */

@media screen and (max-width: 900px) {
  .main_home {
    max-width: 500px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 11vh;
  }

  .profile_text_big {
    font-size: calc(1rem + 30px);
  }

  .profile_text_small {
    font-size: calc(1rem + 4px);
  }

  .button_one {
    display: none;
  }

  .button_two {
    font-size: calc(1rem + 7px);
  }

  .button_three {
    font-size: calc(1rem + 7px);
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 30px;
  }
}

/* Following code takes care of the buttons in the intro section on /home for screen width of less than 769px */

@media screen and (max-width: 768px) {
  .main_home {
    max-width: 450px;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .profile_text_big {
    font-size: calc(1rem + 25px);
  }

  .profile_text_small {
    font-size: calc(1rem + 2px);
  }

  .button_one {
    display: none;
  }

  .button_two {
    font-size: calc(1rem + 6px);
    margin-top: 15px;
  }

  .button_three {
    font-size: calc(1rem + 6px);
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 30px;
  }
}

/* Begin media queries /about me */

/* Begin media queries grid items */

/* Following code is styling the grid for screen width of less than 1441px */

@media all and (max-width: 1440px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10px 1fr;
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .grid_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid_container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .flip-card_grid__item {
    margin: auto;
    background-color: transparent;
    width: 500px;
    height: 500px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card_grid__item:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .flip-card-front {
    color: #111;
    background-color: #fcbf49;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    text-align: center;
    padding-top: 35%;
    padding-bottom: 40%;
  }

  .flip-card-front h2 {
    font-size: calc(1rem + 15px);
    font-family: 'Staatliches', serif;
  }

  .flip-card-front p {
    font-size: calc(1rem + 3px);
  }

  .flip-card-back {
    background-color: #fcbf49;
    color: #111;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-back h3 {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem + 10px);
    margin-bottom: 20px;
  }

  .flip-card-back p {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(1rem + 3px);
  }

  /* Skills and tools card */

  .box_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0 0 15px 15px;
  }

  .box_icon {
    height: 45px;
    width: 45px;
    margin: 15px;
    margin-bottom: 60px;
  }

  .box_icon p {
    font-family: 'Staatliches', serif;
    font-size: 1rem;
    text-align: center;
  }
}

/* Following code is styling the grid for screen width of less than 1025px */

@media all and (max-width: 1024px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    width: 75%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .grid_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .flip-card_grid__item {
    margin: auto;
    background-color: transparent;
    width: 450px;
    height: 450px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card_grid__item:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .flip-card-front {
    color: #111;
    background-color: #fcbf49;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 35%;
  }

  .flip-card-front h2 {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem + 12px);
  }

  .flip-card-front p {
    font-size: calc(1rem + 1px);
  }

  .flip-card-back {
    background-color: #fcbf49;
    color: #111;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-back h3 {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem + 7px);
    margin-bottom: 20px;
  }

  .flip-card-back p {
    font-size: calc(1rem + 1px);
  }

  /* Skills and tools card */

  .box_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 10px;
  }

  .box_icon {
    height: 40px;
    width: 40px;
  }

  .box_icon p {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem - 3px);
    text-align: center;
  }
}

/* Following code is styling the grid for screen width of less than 901px */

@media all and (max-width: 900px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    width: 75%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  .grid_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .flip-card_grid__item {
    margin: auto;
    background-color: transparent;
    width: 500px;
    height: 200px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card_grid__item:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .flip-card-front {
    font-family: 'JetBrains Mono', monospace;
    color: #111;
    background-color: #fcbf49;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    text-align: center;
    padding: 40px 10px 10px 10px;
  }

  .flip-card-front h2 {
    font-size: calc(1rem + 5px);
    margin-top: 15px;
  }

  .flip-card-front p {
    font-size: calc(1rem + 2px);
  }

  .flip-card-back {
    font-family: 'JetBrains Mono', monospace;
    font-size: 'JetBrains Mono', monospace;
    background-color: #fcbf49;
    color: #111;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-back h3 {
    font-size: calc(1rem + 1px);
    margin-bottom: 10px;
  }

  .flip-card-back p {
    font-size: calc(1rem - 5px);
  }

  /* Skills and tools card */

  .box_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: -20px;
  }

  .box_icon {
    height: 20px;
    width: 20px;
    margin-right: 30px;
    margin-bottom: 45px;
  }

  .box_icon p {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(1rem - 5px);
    text-align: center;
  }
}

/* Following code is styling the grid for screen width of less than 551px */

@media all and (max-width: 550px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    width: 75%;
    height: 82vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .grid_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_container > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .flip-card_grid__item {
    margin: auto;
    background-color: transparent;
    width: 400px;
    height: 200px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card_grid__item:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .flip-card-front {
    color: #111;
    background-color: #fcbf49;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    text-align: center;
    padding: 40px 10px 10px 10px;
  }

  .flip-card-front h2 {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem + 3px);
    margin-top: 15px;
  }

  .flip-card-front p {
    font-size: 1rem;
  }

  .flip-card-back {
    background-color: #fcbf49;
    color: #111;
    border: 1px solid #525252;
    -webkit-box-shadow: 1px 1px 5px #111;
            box-shadow: 1px 1px 5px #111;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-back h3 {
    font-family: 'Staatliches', serif;
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .flip-card-back p {
    font-size: calc(1rem - 6px);
  }

  /* Skills and tools card */

  .box_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: -25px;
  }

  .box_icon {
    height: 15px;
    width: 15px;
    margin-right: 22px;
    margin-bottom: 30px;
  }

  .box_icon p {
    font-family: 'Staatliches', serif;
    font-size: calc(1rem - 5px);
    text-align: center;
  }
}

/* Begin media queries /portfolio */

/* Begin media queries project grid content */

/* Following code is about the grid content for screen width of less than 1441px */

@media screen and (max-width: 1440px) {
  .project_list_grid {
    color: #111;
    font-size: 1rem;
    font-family: 'Staatliches', serif;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 30px;
  }

  .grid_item {
    -webkit-box-shadow: 1px 1px 10px #111;
            box-shadow: 1px 1px 10px #111;
    border: 1px solid #525252;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 15px;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    grid-column: 1 / -1;
  }

  .grid_item h3 {
    font-family: 'Staatliches', serif;
    margin-bottom: 10px;
  }

  .grid_item p {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .grid_item a {
    font-size: calc(1rem - 3px);
  }

  .grid_item button {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Staatliches', serif;
  }

  .project_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .devicon-html5-plain,
  .devicon-css3-plain,
  .devicon-javascript-plain,
  .devicon-vscode-plain,
  .devicon-sass-original,
  .devicon-git-plain,
  .devicon-github-original,
  .devicon-codepen-plain {
    margin: 0;
    padding: 0 5px;
    height: 100%;
    font-size: 25px;
  }
}

/* Following code is about the grid content for screen width of less than 769px */

@media screen and (max-width: 768px) {
  .project_list_grid {
    color: #111;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
  }

  .grid_item {
    -webkit-box-shadow: 1px 1px 10px #111;
            box-shadow: 1px 1px 10px #111;
    border: 1px solid #525252;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 15px;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    grid-column: 1 / -1;
  }

  .grid_item h3 {
    font-family: 'Staatliches', serif;
    margin-bottom: 10px;
  }

  .grid_item p {
    display: none;
  }

  .grid_item button {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Staatliches', serif;
  }

  .project_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .devicon-html5-plain,
  .devicon-css3-plain,
  .devicon-javascript-plain,
  .devicon-vscode-plain,
  .devicon-sass-original,
  .devicon-git-plain,
  .devicon-github-original,
  .devicon-codepen-plain {
    margin: 0;
    padding: 0 5px;
    height: 100%;
    font-size: 18px;
  }
}

/* Begin media queries /contact */

/* Begin media queries contact form */

/* Following code is about the contact form for screen width of less than 1201px */

@media screen and (max-width: 1200px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 600px;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .place {
    font-size: 1rem;
  }

  .phone {
    font-size: 1rem;
  }

  .gmail {
    font-size: 1rem;
  }

  .place {
    margin-left: 39px;
  }

  .phone {
    margin-left: 37px;
  }

  .gmail {
    margin-left: 36px;
  }

  .direct-contact-container {
    margin-top: 20px;
    max-width: 300px;
  }

  .contact-list {
    padding-left: 10px;
    padding-right: 1px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  #contact {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

/* Following code is about the contact form for screen width of less than 769px */

@media screen and (max-width: 768px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 450px;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
    max-width: 300px;
  }

  .form-control,
  textarea {
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 8px;
  }

  .send-button {
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .alt-send-button {
    margin-left: auto;
  }

  .place {
    font-size: 1rem;
  }

  .phone {
    font-size: 1rem;
  }

  .gmail {
    font-size: 1rem;
  }

  .place {
    margin-left: 39px;
  }

  .phone {
    margin-left: 37px;
  }

  .gmail {
    margin-left: 36px;
  }

  .direct-contact-container {
    margin-top: 20px;
    max-width: 300px;
  }

  .contact-list {
    padding-left: 10px;
    padding-right: 1px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  #contact {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

/* Begin keyframes */

/* Begin keyframes intro text animation on /home */

/* Following code is animating the adjective in the intro text on /home */

/* @keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
} */
